/*
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/input_transform.h>

/* エラー回避のための定義 */
#ifndef INPUT_REL_XY
#define INPUT_REL_XY 0x02
#endif

#define BASE  0
#define LOWER 1
#define RAISE 2
#define MOUSE 3
#define FUNC  4

/ {
    /* --- トラックボールの感度設定 --- */
    zip_xy_scaler: zip_xy_scaler {
        compatible = "zmk,input-processor-scaler";
        #input-processor-cells = <2>;
        type = <INPUT_REL_XY>;
        codes = <INPUT_REL_X INPUT_REL_Y>;
    };

    /* 物理デバイスを指定せず、入力イベントを拾う設定 */
    trackball_listener {
        compatible = "zmk,input-listener";
        device = <&pinctrl>; /* 暫定的に有効なノードを指定するか、空にする */
        input-processors = <&zip_xy_scaler 1 1>;
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        func_layer {
            if-layers = <LOWER RAISE>;
            then-layer = <FUNC>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
            &bt BT_CLR_ALL &kp ESC &kp N1 &kp N2 &kp N3 &kp N4 &kp N5     &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp MINUS &to MOUSE
            &kp ESC &kp TAB &kp Q &kp W &kp E &kp R &kp T               &kp Y &kp U &kp I &kp O &kp P &kp LBKT &kp RBKT
            &kp LALT &kp CAPS &kp A &kp S &kp D &kp F &kp G             &kp H &kp J &kp K &kp L &kp SEMI &kp APOS &mkp LCLK
                     &kp LSHFT &kp Z &kp X &kp C &kp V &kp B           &kp N &kp M &kp COMMA &kp DOT &kp FSLH &kp RSHFT
            &to RAISE &kp LCTRL &kp LGUI &to LOWER &kp SPACE &none &none    &kp SPACE &kp RET &none &none &kp DEL &kp DEL &none
            &kp RET &kp LEFT &kp DOWN &kp UP &kp RIGHT &kp SPACE &kp SPACE  &none &none &kp LEFT &kp DOWN &kp UP &kp RIGHT &kp RET
            >;
        };

        mouse_layer {
            bindings = <
            &to BASE &trans &trans &trans &trans &trans &trans         &trans &trans &trans &trans &trans &trans &trans
            &trans &trans &trans &trans &trans &trans &trans         &trans &trans &trans &trans &trans &trans &trans
            &trans &trans &trans &trans &trans &trans &trans         &trans &trans &trans &trans &trans &trans &trans
                     &kp LSHFT &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &kp RSHFT
            &trans &kp LCTRL &kp LGUI &trans &mkp LCLK &mkp RCLK &mkp MCLK  &mkp LCLK &mkp RCLK &mkp MCLK &trans &trans &trans &trans
            &trans &trans &trans &trans &trans &trans &trans         &trans &trans &trans &trans &trans &trans &trans
            >;
        };

        lower_layer { bindings = <&trans>; };
        raise_layer { bindings = <&trans>; };
        function_layer { bindings = <&trans>; };
    };
};